<div ng-repeat="post in posts | orderBy: '-post.getDisplayVersion().publishedAt'" ng-init="postVersion = post.getDisplayVersion()" class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="headings">
                    <h1><a href="post/{{postVersion.slug}}/">{{postVersion.title}}</a></h1>
                    <h5 ng-bind="postVersion.publishedAt | date:'longDate'"></h5>
                    <h5 ng-hide="postVersion.isPublished()">Unpublished</h5>
                </div>

                <div class="tags" ng-show="postVersion.tags.length">
                    <div ng-repeat="tag in postVersion.tags" class="tag">{{tag}}</div>
                </div>
            </div>
            <div class="panel-body post-body" ng-bind-html="main.toTrusted(postVersion.preview)"></div>
        </div>
    </div>
</div>
