<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="headings">
                    <h1>Title</a></h1>
                    <h5>Manuary 42, 2016</h5>
                </div>

                <div class="tags">
                    <div class="tag">tag</div>
                    <div class="tag">foo</div>
                    <div class="tag">bar-elements</div>
                </div>
            </div>
            <div class="panel-body post-body">
                <div ng-include="'templates/lab-post.html'"></div>
            </div>
        </div>
    </div>
</div>
