<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="headings">
                    <h1>{{post.title}}</a></h1>
                    <h5 ng-bind="post.createdAt | date:'longDate'"></h5>
                    <h5 ng-hide="post.published">Unpublished</h5>
                </div>

                <div class="tools-menu">
                    <a ng-href="{{editUrl}}">
                        <span ng-show="isLoggedIn()"><i class="fa fa-edit"></i> Edit</span>
                    </a>

                    <a ng-click="deletePost()">
                        <span ng-show="isLoggedIn()"><i class="fa fa-remove"></i> Delete</span>
                    </a>
                </div>
            </div>
            <div class="panel-body post-body" ng-bind-html="toTrusted(post.body)"></div>
        </div>
    </div>
</div>
