<form name="form.element" ng-model="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input ng-model="form.title" type="text" class="form-control" id="title" required>

        <label for="preview">Preview</label>
        <textarea rows="10" ng-model="form.preview" type="text" class="form-control" id="preview" required></textarea>

        <label for="body">Body</label>
        <textarea rows="20" ng-model="form.body" type="text" class="form-control" id="body" required></textarea>

        <label for="cssIncludes">CSS includes (separate with new line)</label>
        <textarea rows="2" ng-model="form.cssIncludes" type="text" class="form-control" id="cssIncludes"></textarea>

        <label for="jsIncludes">JavaScript includes (separate with new line)</label>
        <textarea rows="2" ng-model="form.jsIncludes" type="text" class="form-control" id="jsIncludes"></textarea>

        <label for="createdAt">Created At</label>
        <input ng-model="form.createdAt" type="datetime-local" class="form-control" id="createdAt" required>

        <label for="slug">Slug</label>
        <input ng-model="form.slug" type="text" class="form-control" id="slug" required>

        <label for="metaDescription">Meta Description</label>
        <input ng-model="form.metaDescription" type="text" class="form-control" id="metaDescription" required>

        <label for="focusKeyword">Focus Keyword</label>
        <input ng-model="form.focusKeyword" type="text" class="form-control" id="focusKeyword" required>
    </div>
    <button ng-click="submit('publish')" class="btn btn-primary">Publish</button>
    <button ng-click="submit('save')" class="btn btn-default">Save</button>
    <button ng-click="submit('unpublish')" ng-show="" class="btn btn-danger pull-right">Unpublish</button>
</form>
