<form name="form.theForm">
    <div class="form-group">
        <label for="title">Title</label>
        <input ng-model="postVersion.title" type="text" class="form-control" id="title" required>

        <label for="category">Category</label>
        <input ng-model="postVersion.category" type="text" class="form-control" id="category" required>

        <label for="tags">Tags</label>
        <input ng-model="postVersion.tags" type="text" class="form-control" id="tags" required>

        <label for="preview">Preview</label>
        <textarea rows="10" ng-model="postVersion.preview" type="text" class="form-control" id="preview" required></textarea>

        <label for="body">Body</label>
        <textarea rows="20" ng-model="postVersion.body" type="text" class="form-control" id="body" required></textarea>

        <label for="cssIncludes">CSS includes (separate with new line)</label>
        <textarea rows="2" ng-model="postVersion.cssIncludes" type="text" class="form-control" id="cssIncludes"></textarea>

        <label for="jsIncludes">JavaScript includes (separate with new line)</label>
        <textarea rows="2" ng-model="postVersion.jsIncludes" type="text" class="form-control" id="jsIncludes"></textarea>

        <label for="createdAt">Created At</label>
        <input ng-model="postVersion.createdAt" type="datetime-local" class="form-control" id="createdAt" required>

        <label for="slug">Slug</label>
        <input ng-model="postVersion.slug" type="text" class="form-control" id="slug" required>

        <label for="metaDescription">Meta Description</label>
        <input ng-model="postVersion.metaDescription" type="text" class="form-control" id="metaDescription" required>

        <label for="focusKeyword">Focus Keyword</label>
        <input ng-model="postVersion.focusKeyword" type="text" class="form-control" id="focusKeyword" required>
    </div>
    <button ng-click="controller.submit('publish')" class="btn btn-success pull-right">Publish</button>
    <button ng-click="controller.submit('preview')" class="btn btn-primary">Preview</button>
    <button ng-click="controller.submit('save')" class="btn btn-default">Save</button>
    <button ng-click="controller.submit('unpublish')" ng-show="post.isPublished()" class="btn btn-danger pull-right">Unpublish</button>
</form>
