.nostretch {
    width: 1%;
    white-space: nowrap;
}

.btn-group {
    white-space: nowrap;
}

.btn-group .btn {
    float: none !important;
    display: inline-block;
}

.btn-group .btn:not(:last-child) {
    margin-right: -4px;
}

.btn.round {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.btn-icon {
    font-size: 18px;
}

.btn-icon:hover, .btn-icon:focus {
    background-color: #fff;
    border-color: #ccc;
}

.btn-icon:active, .btn-icon:active:hover {
    background-color: #eeeeee;
}

.btn-icon.round .glyphicon {
    margin-left: -4px;
}

.btn-icon.round .fa {
    margin-top: 2px;
    margin-left: -3px;
}

.btn-default.dark, .btn-default.dark:hover, .btn-default.dark:focus {
    color: white;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-default.dark.active, .btn-default.dark:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.btn-default.dark {
    background-color: rgba(0, 0, 0, 0.2);
}