html, body {
    height: 100%;
    font-size: 16px;
}

body {
    overflow-x: hidden;
    background: #f1f2f7;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

a {
    color: #333333;
    cursor: pointer;
}

a:hover {
    color: #111111;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

pre {
    margin: 10px 0;
}

h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
}

h2 {
    margin-top: 1.7rem;
    font-size: 1.4rem;
}

h3 {
    margin-top: 2rem;
    font-size: 1.2rem;
}

h5 {
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1rem;
}

button {
    background: none;
    border: none;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

table {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}

td, th {
    padding: 10px;
}

button:focus {
    outline: none;
}

button, .post-body a {
    color: #888888;
}

textarea {
    resize: vertical;
}

.brand, #sidebar {
    position: fixed;
    width: 220px;
    left: 0;
    padding: 20px 30px;
    font-family: 'Oswald', sans-serif;
}

.brand {
    top: 0;
    height: 100px;
    background: #222222;
}

#sidebar {
    top: 100px;
    bottom: 0px;
    background: #222222;
    padding-top: 40px;
}

.brand {
    color: #eeeeee;
}

.brand a {
    color: inherit;
}

.brand #logo-title {
    font-size: 2.5em;
    font-weight: bold;
}

.brand #logo-title .handwriting {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 0.8em;
    margin-left: 4px;
}

.brand #logo-subtitle {
    font-size: 1.1em;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
}

.sidebar-nav a {
    color: #bbbbbb;
    font-size: 1.1rem;
    line-height: 2.5;
}

.sidebar-nav a .fa {
    margin-right: 15px;
    width: 16px;
}

.sidebar-nav a.active, .sidebar-nav a:hover, .brand:hover {
    color: #ffffff;
}

.wrapper, footer {
    margin-left: 220px;
}

.wrapper {
    padding-bottom: 70px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 100%;
}

#content {
    max-width: 800px;
}

footer {
    margin-top: -50px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 0.85em;
    color: #666;
}

.panel-default>.panel-heading {
    border-bottom: 1px solid #eee;
    background: none;
    margin: 0 20px;
    padding: 20px 0 10px 0;
    overflow: hidden;
    position: relative;
}

.panel-default>.panel-heading h1 {
    margin-top: 0;
}

.panel-default>.panel-heading .headings {
    float: left;
}

.panel-default>.panel-heading .tools-menu {
    position: relative;
    top: 15px;
    right: 10px;
    float: right;
}

.tools-menu a {
    margin-left: 10px;
}

.panel-body {
    padding: 20px;
}
