html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    font-size: 16px;
    background: #f1f2f7;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

a {
    color: #333333;
}

a:hover {
    color: #111111;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

pre {
    margin: 10px 0;
}

h1 {
    margin-top: 2rem;
    font-size: 2.4rem;
}

h2 {
    margin-top: 20px;
}

h3 {
    margin-top: 4rem;
    font-size: 1.7rem;
}

.post-body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.post-body a {
    color: #888888;
}

textarea {
    resize: vertical;
}

.brand, #sidebar {
    position: fixed;
    width: 220px;
    left: 0;
    padding: 20px 30px;
    font-family: "Oswald", sans-serif;
}

.brand {
    top: 0;
    height: 100px;
    background: #222222;
}

#sidebar {
    top: 100px;
    bottom: 0px;
    background: #222222;
    padding-top: 40px;
}

.brand {
    color: #eeeeee;
}

.brand a {
    color: inherit;
}

.brand #logo-title {
    font-size: 2.5em;
    font-weight: bold;
}

.brand #logo-title .handwriting {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 0.8em;
    margin-left: 4px;
}

.brand #logo-subtitle {
    font-size: 1.1em;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
}

.sidebar-nav a {
    color: #bbbbbb;
    font-size: 1.1em;
    line-height: 2.5;
}

.sidebar-nav a .fa {
    margin-right: 15px;
    width: 16px;
}

.sidebar-nav a.active, .sidebar-nav a:hover, .brand:hover {
    color: #ffffff;
}

.wrapper, footer {
    margin-left: 220px;
}

.wrapper {
    padding-bottom: 70px;
    padding-top:20px;
    padding-left:40px;
    padding-right:40px;
    min-height: 100%;
}

footer {
    margin-top: -50px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 0.85em;
    color: #666;
}

.panel-default>.panel-heading {
    border-bottom: 1px solid #eee;
    background: none;
    margin: 0 20px;
    padding: 0;
    padding-top: 20px;
}

.panel-default>.panel-heading h1 {
    margin-top: 0;
}

.panel-body {
    padding: 20px;
}
